@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== CUSTOM GLOBAL RESPONSIVE FIX ===== */

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

body {
  overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

/* Hide scrollbar where needed */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}